# VERCEL ENVIRONMENT VARIABLES FOR BACKEND
# Copy these into your Vercel Project Settings -> Environment Variables

DATABASE_URL="postgresql://postgres.prwgvaxutmxzherimcoq:NaveenChamakuri%40123@aws-0-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1"
FRONTEND_URL="https://ayush-card-ten.vercel.app"
JWT_SECRET="super-secret-key"
